@model IEnumerable<DataAccessLayer.PurchaseTable>

@{
    ViewBag.Title = "AllPurchase";
}

<h2>AllPurchase</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierTable.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierTable.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID })
        </td>
    </tr>
}

</table>
